<script type="text/jsx">
	export default {
	    name: 'ItemComment',
		props: {
	        items: {
	            type: Array,
				required: true
			}
		},
		data: () => ({
			answer: null
		}),
		methods: {
            actionComplaint() {
				this.$emit('complaint')
			},
			answerComm(payload) {
                this.$emit('answer', payload)
			}
		},
		render() {
	        const update = (payload) => {
	            const { count, _id, open } = payload.item
                let value

				if(payload.key == 'count') {
                    value = payload.type === 'sub'
                        ? count - 1
                        : payload.type === 'add'
                            ? count + 1
                            : count
				} else if(payload.key == 'open') {
				    value = !open
				}

				this.$store.commit('update', {key: payload.key, value, _id})
			}

            const renderItem = (item) => {
                return (
                    <div class="item">
                        <div class="body-comment">
                            {
                                item.open
                                    ?
                                    <div class="top-box">
                                        <div class="counter-box">
                                            <span class="count">{item.count}</span>
                                            <button
                                                class="btn danger"
                                                title="Дизлайк"
                                                vOn:click={e => update({type: 'sub', item, key: 'count'})}
                                            >-
                                            </button>
                                            <button
                                                class="btn"
                                                title="Лайк"
                                                vOn:click={e => update({type: 'add', item, key: 'count'})}
                                            >+
                                            </button>
                                        </div>
                                        <div class="author-box">
                                            {item.name.first} {item.name.last}
                                        </div>
                                        <div class="actions-box">
                                            <span class="btn danger"
                                                  vOn:click={e => update({item, key: 'open'})}>Скрыть</span>
                                            <span class="btn"
												  vOn:click={e => this.answerComm(item)}>Ответить</span>
											<span class="btn danger"
												  vOn:click={e => this.actionComplaint()}>Пожаловаться на коментарий</span>
                                        </div>
                                    </div>
									:
									<div class="openComment">
									<span
										class="btn"
										vOn:click={e => update({item, key: 'open'})}
									>Открыть</span>
									</div>
                            }
                            {
                                item.open
                                    ?
                                    <div class="text-box">
                                        <p>{item.text}</p>
                                    </div>
                                    : ''
                            }
                            {
                                item.children && item.open
                                    ? <div class="childrens">{item.children.map(i => renderItem(i))}</div>
                                    : ''
                            }
                        </div>
					</div>
                )
            }
	        return (
	            <div class="comments-box">
					{ this.items.map(item => renderItem(item)) }
				</div>
			)
        }
    }
</script>