<template>
	<div class="modal-wrap">
		<div class="body">
			<span class="close" @click="$emit('close')">x</span>
			<slot></slot>
		</div>
	</div>
</template>

<script>
	export default {
	    name: 'Modal'
	}
</script>