.btn {
  display: inline-block;
  padding: 5px;
  min-height: 10px;
  min-width: 20px;
  background: green;
  color: white;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  &.danger {
    background: red;
  }
}

.comments-box {
  .item {
    margin-bottom: 15px;
    .body-comment {
      .top-box {
        display: flex;
        align-items: center;
        & > div {
          &:not(:last-child) {
            margin-right: 15px;
          }
        }
        .counter-box {
          .btn {
            margin-left: 10px;
          }
        }
        .author-box {
          font-weight: bold;
        }
        .actions-box {
          .btn {
            &:not(:last-child) {
              margin-right: 5px;
            }
          }
        }
      }
    }
    .childrens {
      padding-left: 50px;
      border-left: 1px solid #ccc;
    }
  }
}

.modal-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  .body {
    padding: 30px;
    min-width: 500px;
    background: #fff;
    border-radius: 15px;
    position: relative;
    .close {
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 10px;
      width: 20px;
      height: 20px;
      font-size: 20px;
      line-height: 20px;
      cursor: pointer;
      text-align: center;
    }
  }
}

textarea {
  width: 100%;
  min-height: 150px;
  border: 1px solid #ccc;
  &:focus {
    outline: none;
  }
}