<template>
	<div>
		<div style="margin-bottom: 30px;">
			<button
				class="btn"
				@click="showModal = true, newComment = true">Добавить новый коментрарий</button>
		</div>
		<div>
			<ItemComment
				:items="items"
				@complaint="complaint = true, showModal = true"
				@answer="showModal = true, newComment = true, answer = $event"
			/>
		</div>
		<div
				class="show"
				style="margin-top: 30px; text-align: center;"
				@click="showComments"
		><span class="btn" v-if="btnShow">Показать ещё комментарии</span></div>
		<transition>
			<Modal
					v-if="showModal"
					@close="reset"
			>
				<h2 v-if="complaint">Жалоба на комментарий успешно отправлена</h2>
				<h2 v-if="addCommentSuccess">Комментарий успешно добавлен</h2>
				<div v-if="newComment">
					<h3 v-if="!answer">Новый комментарий</h3>
					<h3 v-else>Ответ на коментарий {{ answer.name.first }} {{ answer.name.last }}</h3>
					<textarea v-model="newCommentText"></textarea>
					<button class="btn" @click.prevent="addComment">Отправить</button>
				</div>
			</Modal>
		</transition>
	</div>
</template>

<script>
	import {mapGetters} from 'vuex'
	import Modal from '~/components/Modal'
	import ItemComment from './module/item'
	import { SHOW_COMMENTS} from "~/types/comments";

    export default {
	    name: 'Comments',
		data: () => ({
			items: [],
			showModal: false,
            complaint: false,
			answer: null,
			newComment: false,
			newCommentText: '',
			addCommentSuccess: false,
			btnShow: true
		}),
		computed: {
	        ...mapGetters([
	            'comments'
			])
		},
		components: {
	        ItemComment,
			Modal
		},
		methods: {
	      	showComments() {
	      	    const length = this.items.length
				if(length + SHOW_COMMENTS >= this.comments.length) this.btnShow = false
				for(let x = length; x < length + SHOW_COMMENTS; x++) {
				    if(typeof this.comments[x] !== 'undefined') this.items.push(this.comments[x])
				}
			},
			addComment() {
				const data = {
				    _id: + new Date(),
					count: 0,
					level: 0,
					name: {
				        first: 'first',
						last: 'last'
					},
					children: [],
					open: true,
					text: this.newCommentText
				}

				if(!this.answer) {
                    const comments = [...this.comments]
                    this.items = []
                    this.$store.commit('setComments', comments)
                    this.showComments()
				} else {
                    this.$store.commit('update', {key: 'children', value: data, _id: this.answer._id})
				}

				this.reset()
				this.addCommentSuccess = true
                this.showModal = true
			},
			reset() {
                this.showModal = false
				this.complaint = false
				this.answer = false
				this.newComment = false
				this.newCommentText = ''
			}
		},
		created() {
	        this.showComments()
        }
    }
</script>