<template>
	<main>
		<comments/>
	</main>
</template>

<script>
	import { mapGetters, mapActions } from 'vuex'
	import DataJson from './static/comments.json'
    import Comments from './components/Comments'
	import { modify } from './utils/modify_file.js'

	export default {
		name: 'App',
		components: {
            Comments
		},
		created() {
		    const data = modify(DataJson)
		    this.$store.commit('setComments', data)
        }
    }
</script>